* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.header {
    width: auto;
    height: 50px;
    background-color: red;
}

.main-visual {
    width: auto;
    height: 500px;
    background-color: orange;
}

.main{
    width: 960px;;
    display: flex;
    justify-content: center;
    margin: 0 auto;
}

.sidebar-left {
    width: 230px;
    height: 1400px;
    background-color: palegreen;
}

.blog {
    width: 500px;
    height: 1400px;
    background-color: limegreen;
}

.sidebar-right {
    width: 230px;
    height: 1400px;
    background-color: palegreen;
}

.footer {
    width: auto;
    height: 100px;
    background-color: blue;
}